/*font-set*/
@charset "utf-8";
/* web-font*/

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@font-face {
    font-family:'맑은고딕폰트';
	src:url('http://pic.neungyule.com/netoeic/font/malgun.ttf');
 	src:local('Malgun Gothic'),
 	url('http://pic.neungyule.com/netoeic/font/malgun.ttf') format('truetype');
}

@font-face {
    font-family:NanumGothic;
	src:url('fonts/NanumGothic.eot');
 	src:local('NanumGothic'), url('fonts/NanumGothic.eot?') format('embedded-opentype'), /* IE9 */
 	url('fonts/NanumGothic.woff') format('woff'), /* IE9, FF, Chrome */
 	url('fonts/NanumGothic.ttf') format('truetype');
}

/*Reset CSS 1.1*/
* {
	margin: 0;
	padding: 0;
	border: 0 none;
	outline : 0;
	font-size: 12px; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	font: inherit;
	font-family:'맑은고딕폰트','맑은 고딕','Malgun Gothic',NanumGothic, "나눔고딕", 'Nanum Gothic', dotum,'돋움',gulim,'굴림', Tahoma, sans-serif;
	
	vertical-align: baseline;
	text-decoration:none;
	color:#272727;
}
html,body{width:100%;padding:0; margin:0;}
body {line-height: 1; font-size:12px; color:#2b2b2b; text-align:left;*word-break:break-all;-ms-word-break:break-all; min-width:320px;}

a {color:inherit;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
button *{position:relative}
button img{*left:auto}
button, img, label, input, select  {vertical-align:middle; line-height:normal; max-width:100%;}
button, label{cursor:pointer}
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {white-space:normal;}
dt{display:block;}
hr{display:none;}
img, video {}
legend{*width:0; display:none;}
ol, ul, dir, menu {list-style: none;}
table {border-collapse: collapse; border-spacing: 0; width:100%; table-layout:fixed; word-break: break-all;}
caption {display:none;}
textarea {overflow: auto; resize: none; white-space:pre}
.clear:afer {content:""; visibility:hidden; display:block; clear:both; height:0;}
.hide {font-size:0; line-height:0; overflow:hidden; visibility:hidden; margin-left:-4000em;}


/* input, button crossbrowersing */
	button,
	html input[type="button"], 
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button; 
		cursor: pointer; 
		*overflow: visible;  
	}
	button[disabled],
	input[disabled] {
		cursor: default;
	}
	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box; 
		*height: 13px; 
		*width: 13px; 
	}
	input[type="search"] {
		-webkit-appearance: textfield; 
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

/*input*/

/*-------------------------------------------*/

/*폰트*/


/*table*/

select {border: 1px solid #BCBCBC;}


/*텍스트 정렬*/
.t-center {text-align:center;}
.t-left {text-align:left;}
.t-right {text-align:right;}
.fl-l {float:left;}
.fl-r {float:right;}
.fl-l:after, .fl-r:after {content:""; visibility:hidden; display:block; clear:both; height:0;}
.t-bold {font-weight:bold;}


/*select*/
.stylish-select .SSContainerDivWrapper {
	margin-top:2px;
	padding:0;
	width:100%;
	position:absolute;
	top:22px;
	left:0;
	z-index:2;
	margin-top:0;
}

/* UL */
.stylish-select ul.newList {
	margin:0;
	list-style:none;
	background:#fff;
	border:1px solid #e81526;
	overflow:auto;
	min-height: 70px;
}
.stylish-select ul.newList * {
	margin:0;
	list-style:none;
}
.stylish-select ul.newList a {
    text-align: left;
	color: #656565;
	text-decoration:none;
	display:block;
	padding:8px;
	font-size: 13px;
	cursor: pointer;
}
.stylish-select ul.newList li a:focus {
	-moz-outline-style: none;
}

/* Default fake select container style*/


.select_type1 {display:inline-block; vertical-align:top; z-index:200; position: relative;}
.select_type2 {display:inline-block; vertical-align:top; z-index:200; position: relative;}
.select_type3 {display:inline-block; vertical-align:top; z-index:200; position: relative; width:100%;}

.select_type1 .newListSelected {
	cursor:pointer;
	width:45px;
	height:27px;
	padding-left:8px;
	float:left;
	background:url(../images/select_bg1.jpg) no-repeat right top; background-size:auto 27px;
	border:1px solid #d2d2d2;
}

.w109 .newListSelected {width:99px !important;}
.w370 .newListSelected {width:360px !important;}

.w76  .newListSelected {width:63px !important;}

.select_type2 .newListSelected {
	cursor:pointer;
	width:128px;
	height:35px;
	padding-left:10px;
	float:left;
	border:1px solid #d3d3d3;
	background:#fff url(../images/select_bg.jpg) no-repeat right top;
}
.select_type3 .newListSelected {
	cursor:pointer;
	width:100% !important; box-sizing:border-box;
	height:43px;
	padding-left:10px;

	background:#fff url(../images/select_bg2.jpg) no-repeat right top; background-size:auto 100%;
	border-top:2px solid #ff6921; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #b2b2b2;
}

.select_type1 .newListSelected.newListSelClick {background:url(../images/select_bg1_on.jpg) no-repeat right top;background-size:auto 27px;}
.select_type1 .newListSelected.newListSelClick.newListSelFocus {background:url(../images/select_bg1.jpg) no-repeat right top;background-size:auto 27px;}

.select_type3 .newListSelected.newListSelClick {background:#fff url(../images/select_bg2_on.jpg) no-repeat right top; background-size:auto 100%;}
.select_type3 .newListSelected.newListSelClick.newListSelFocus {background:#fff url(../images/select_bg2.jpg) no-repeat right top; background-size:auto 100%;}

.select_type1 ul.newList {border: 1px solid #dcdcdc;margin-left: -1px;width:115px; }
.select_type2 ul.newList {border: 1px solid #dcdcdc;margin-left: -1px;width:100%; }
.select_type3 ul.newList {border: 1px solid #dcdcdc;margin-left: -1px;width:100%; }
.stylish-select ul.newList li {padding:3px 0;}





.stylish-select .selectedTxt {
	width:100%;
	overflow:hidden;
	height:34px;line-height:34px;
	font-size:11px;
	padding:0;
	text-align:left;
}

.select_type1 .selectedTxt {
	height:27px;line-height:27px;
	font-size:11px; color:#2a2a2a; font-weight:600;
}

.select_type2 .selectedTxt {
	height:35px;line-height:35px;
	font-size:13px; color:#6c6c6c; font-weight:600;
}

.select_type3 .selectedTxt {
	height:43px;line-height:43px;
	font-size:13px; color:#6c6c6c; font-weight:600;
}



/* Option Highlight */
.stylish-select .highLite {
	
}

/* Option Hover */
.stylish-select .newListHover {
	background:#CCC!important;
	color:#000!important;
	cursor:default;
}

/* Disabled */




/* Optgroup */
.stylish-select .newListOptionTitle {
	font-weight:bold;
	text-indent:5px;
}
.stylish-select .newListOptionTitle ul {
	margin:0;
	padding:0;
}
.stylish-select .newListOptionTitle li {
	font-weight:normal;	
}



/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* ======================== LAYOUT ======================================================================== */
.wrap {width: 100%; height: auto !important; position: relative; padding-top:57px;}

.top {height:56px; position:fixed; left:0; top:0; width:100%; background:#fff; z-index:100; border-bottom:1px solid #dedede; text-align:center;}
.top_layout {position:relative;}
.logo {display:inline-block; vertical-align:top; width:108px; margin-top:10px;}
.btn_menu {display:block; width:35px; cursor:pointer;position:absolute; left:11px; top:9px;}
.btn_menu2 {display:block; width:35px; cursor:pointer;position:absolute; right:11px; top:9px;}

.foot_bottom {height:48px; background:#fff; position:relative; padding-left:24px; line-height:48px;}
.foot_bottom a {font-size:13px; color:#7a7a7a;}
.foot_bottom a img {vertical-align:top; width:16px; margin-top:10px; margin-right:14px;}
.foot_bottom span {width:38px; display:block; position:absolute; top:5px; right:14px; cursor:pointer;}
.foot_bottom span img {}
footer{clear:both;background:#333;text-align:center;color:#75777c;font-size:18px;line-height:26px; padding-top:20px; padding-bottom:17px;}
footer .foot_1 {padding-bottom:14px;}
footer .foot_1 a {display:inline-block; vertical-align:top; font-size:13px; color:#fff; height:30px; line-height:30px; width:72px; background:#ff7c1a; border-radius:30px; text-align:center; margin:0 3px;}
footer .foot_1 a:first-child {border-left:0;}
footer address {line-height:14px; font-size:12px; color:#8c8e91;padding:10px;}
footer .foot_2 {text-align:center;}
footer .foot_2 a {display:inline-block; vertical-align:top; height:12px; line-height:11px; border-left:1px solid #ddd; color:#ddd; font-size:12px; padding:0 6px;}
footer .foot_2 a:first-child {border-left:0; }


aside.right{display:block;overflow:hidden;position:absolute;z-index:999;right:100%;top:0;	width:100%;height:100%;	background:rgba(0,0,0,0.5);	opacity:0;	transition:opacity 0.5s ease;}
aside.right.VIEW{right:0%;opacity:1;}
aside.right .naviWrap{float:right;position:relative;overflow:auto;width:208px;height:100%;margin-right:-208px;background:#fff;transition:margin-right 0.3s ease 0.1s;}
aside.right.VIEW .naviWrap{margin-right:0px;}
aside.right.VIEW .userInfo{height:55px;font-size:13px;color:#666; padding-left:12px; line-height:55px; position:relative;}
aside.right.VIEW .userInfo span {color:#333; font-weight:600;}
aside.right.VIEW .userInfo strong {display:block; position:absolute; right:11px; top:9px; width:36px; cursor:pointer;}
.login_after {display:none;}
.login_before {}

aside.right.VIEW .userInfo .login_before {line-height:19px; font-size:13px; color:#666; padding-top:5px;}

.login_box {background:#fdab01;}
.login_box li {float:left; width:33.333%; box-sizing:border-box; text-align:center;  border-left:1px solid #f57f23; }
.login_box li:first-child {border-left:0;}
.login_box li a {display:block; height:92px; box-sizing:border-box; padding-top:17px;}
.login_box li img {width:29px; vertical-align:top;}
.login_box li span {display:block; padding-top:5px; font-size:11px; color:#fff; line-height:14px; letter-spacing:-1px;}
.login_box li span.last {padding-top:2px;}
.login_box:after {clear:both; margin:0; padding:0; display:block; content:"";}

aside.right .menuList {border-bottom:1px solid #ddd;}
aside.right .menuList li {height:44px; line-height:44px; border-top:1px solid #ddd; padding-right:11px;}
aside.right .menuList li a {display:block; padding-left:10px; height:44px; line-height:44px;}
aside.right .menuList li a span {float:left; display:inline-block;}
aside.right .menuList li a span img {vertical-align:top; width:28px; margin-right:10px; margin-top:8px;}
aside.right .menuList li a strong {float:right; font-size:13px; color:#666; font-weight:normal;}
aside.right .menuList li.on {height:45px; line-height:45px; background:#fdab01; border-top:0;}
aside.right .menuList li.on a {height:45px; line-height:45px;}
aside.right .menuList li.on a span {color:#fff; font-size:13px;}
aside.right .menuList li.on a strong {font-weight:600; color:#333;}
aside.right .menuList li:first-child {border-bottom:1px solid #f57f23;}

aside.right .navi_banner {padding:10px 12px; margin-bottom:11px;}
aside.right .navi_banner a {display:block;}
aside.right .myinfo_logout {padding:0 12px;}
aside.right .myinfo_logout a {display:block; height:29px; line-height:29px; text-align:center; background:#333; border-radius:29px; font-size:12px; color:#fff; font-weight:600;}

aside.left{display:block;overflow:hidden;position:absolute;z-index:999;left:-100%;top:0;width:100%;height:100%;	background:rgba(0,0,0,0.5);	opacity:0;	transition:opacity 0.5s ease;}
aside.left.VIEW{left:0%;opacity:1;}
aside.left .naviWrap{float:left;position:relative;overflow:auto;width:270px;height:100%;background:#fff;transition:margin-left 0.3s ease 0.1s; margin-left:-270px;}
aside.left.VIEW .naviWrap{margin-left:0px;}
aside.left .navi_top {height:55px; padding-left:12px; position:absolute; left:0; top:0; width:270px; z-index:100; background:#fff; box-sizing:border-box;}
aside.left .navi_top .navi_logo {display:inline-block; vertical-align:top; margin-top:11px; width:100px;}
aside.left .navi_top .navi_login {display:block; position:absolute; right:12px; top:16px; width:88px; height:20px; text-align:center; line-height:20px; border:1px solid #ddd; border-radius:20px; font-size:12px; color:#343434;}
aside.left strong {display:block; position:absolute; left:279px; top:9px; width:36px; cursor:pointer;}

.navi_box {position:relative; height:100%; z-index:10; background:#fff; box-sizing:border-box; padding-right:155px; padding-top:55px;}
.navi_box .navi_box_1 {}
.navi_box .navi_box_1 li {height:43px; line-height:43px; border-bottom:1px solid #ddd;}
.navi_box .navi_box_1 li a {display:block; padding-left:12px;height:43px; line-height:43px; font-size:13px; color:#666;}
.navi_box .navi_box_1 li.on {background:#fdab01 url(../images/menu_arrow.jpg) no-repeat right top; background-size:auto 43px; border-bottom:1px solid #fdab01;}
.navi_box .navi_box_1 li.on a {color:#fff;}
.navi_box .navi_box_2 {position:absolute; right:0; top:0; background:#333; width:155px; height:100%; box-sizing:border-box; padding-top:55px;}
.navi_box .navi_box_3 ul {display:none;}
.navi_box .navi_box_3 ul li {padding-left:16px; height:43px; line-height:43px;}
.navi_box .navi_box_3 ul li a {display:inline-block; font-size:13px; color:#999;}
.navi_box .navi_box_3 ul li.on a {color:#ff7e00;display:inline-block; padding-bottom:3px; border-bottom:1px solid #ff7e00; line-height:1;}
.navi_box .navi_box_4 {padding:20px 17px;}
.navi_box .navi_box_4 a {display:block;}

.top_menu {height:49px; line-height:49px; text-align:center; margin:0 auto; background:#fff;}
.top_menu a {display:inline-block; vertical-align:top; width:25%; text-align:center; font-size:13px; color:#333; font-weight:600; max-width:160px;}

@media screen and (max-width:480px) {

}

