/************************* new_book_content.css (content 부분만)*************************/
@charset "utf-8";

#content_wrap{
	width:100%;
	min-width:1348px;
	position:relative;
}

/************ 퀵메뉴 ****************/
.qmenu {
	width:157px;
	height:328px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:520px;
	z-index:9999;
}

/************ con1 토익 Master 보험 소개 ****************/
#con1_intro{
	width:100%;
	height:1246px;
	background:#14357f;
	overflow:hidden;
	position:relative;
}
	#con1_intro > img{
		position:absolute;
		left:50%;
		margin-left:-960px;
		top:0;
	}

/************ con2 토익보험 완판신화 ****************/
#con2_sold_out{
	width:100%;
	height:898px;
	background:#202020;
	position:relative;
}
	#con2_sold_out > img{
		position:absolute;
		left:50%;
		margin-left:-502px;
		top:0;
	}

/************ con3 이벤트 시간과 남은 수량 ****************/
#con3_time{
	width:100%;
	height:1095px;
	background:#eee;
	overflow:hidden;
}
	#con3_wrap{
		margin:0 auto;
		width:1004px;
		height:1095px;
		position:relative;
	}
		#con3_wrap > img{
			position:absolute;
			left:50%;
			margin-left:-502px;
			top:0;
		}
		#con3_wrap > .time{
			width:530px;
			height:71px;
			position:absolute;
			left:225px;
			top:234px;
		}
			#con3_wrap > div > p{
				color:#fff;
				font-size:49px;
				position:absolute;
				font-weight:bold;
			}
		#con3_wrap > .num{
			width:48px;
			height:450px;
			position:absolute;
			left:689px;
			top:533px;
			/*border:1px solid red;*/
		}
			#con3_wrap > .num > p{
				color:#fff;
				font-size:23px;
				font-weight:bold;
				letter-spacing:11px;
			}
	
/************ con4 이벤트 시간과 남은 수량 ****************/
#con4_curriculum{
	width:100%;
	height:3785px;
	background:#323232;
	position:relative;
}
	#con4_curriculum > img{
		position:absolute;
		left:50%;
		margin-left:-502px;
		top:0;
	}
	
/************ con5 수강신청 3개월,6개월 ****************/
#con5_register{
	width:100%;
	height:640px;
	background:#eee;
	position:relative;
}
	#con5_register > img{
		position:absolute;
		left:50%;
		margin-left:-502px;
		top:0;
	}
	
/************ con6 Q & A ****************/
#con6_qna{
	width:100%;
	height:2352px;
	background:#b8b8b8;
	position:relative;
}
	#con6_qna > img{
		position:absolute;
		left:50%;
		margin-left:-502px;
		top:0;
	}
	#con6_qna > img#con6_bg_2{
		top:1720px;
	}

/************ con7 토익보험 자세히보기, 수강신청 ****************/
#con7_detail{
	width:100%;
	height:817px;
	background:#b8b8b8;
	position:relative;
}
	#con7_detail > img{
		position:absolute;
		left:50%;
		margin-left:-502px;
		top:0;
	}

/************ con8 수강후기 ****************/
#con8_review{
	width:100%;
	height:1207px;
	background:#1a4594;
	padding-top:100px;
}
	#con8_review > div.wrap{}
		#nav_target_3{}/*수강후기 탭게시판 wrap*/
			#nav_target_3 > div.wrap{/*수강후기 게시판*/
				text-align:center;
				width:880px;
				padding:20px 0;
				background:#e3e3e3;
			}

/************ con9 유의사항 ****************/
#con9_notice{}
	#con9_wrap{
		width:100%;
		height:auto;
		margin:0 auto;
		background:#fff url('http://pic.neungyule.com/netoeic/todanbi/20160216/con9_bg_line.jpg') repeat-x left top;
		text-align:center;
	}
		#con9_wrap > div.wrap{}
			#con9_wrap > div.wrap > a.nBtn{}





.toeicBohum_notice {width:100%;min-width:1000px;height:auto;margin:0 auto;background:#fff url('http://pic.neungyule.com/netoeic/todanbi/20151211/bohum_bg_notice.gif') repeat-x left top;}
.toeicBohum_notice .wrap {position:relative;width:1000px;margin:0 auto;}
































